$header-background__color-1: #fefefe;
$header-background__color-2: #eff0f0;
$head-title__color: #2a292a;
$head-contact_max-p__color: #646464;
$head-contact_max-span__color: #afb2c1;
$head-contact-a__color: #343434;
$head-contact-span__border-bottom: #b5c1cd;
$head-contact_max__background-1: #fbfbfb;
$head-contact_max__background-2: #fff;
$head-catalog-a__color: #fff;

$header-blog__background: #171e64;

$link-a__color: #a8c5ff;
$link-span__color: #d3e1ff;
$a__color: #5ca9d6;
$info-created__color: #989898;
$info-created-a-h__color:white;
$article-h2__color: #323232;
$widget__background: #eff0f2;
$widget-title_color: #354f71;
$widget-a__color: #354f71;
$widget-subscription__border: #eff0f2;
$widget-subscription-input__box-shadow: #eee;
$widget-subscription-description__color: #768fa5;
$widget-subscription-bottom__background-color: #4a68ac;
$widget-subscription-bottom__background-background-image-1: #5574b8;
$widget-subscription-bottom__background-background-image-2: #3c589d;
$widget-subscription-bottom__color: #fff;
$widget-subscription-bottom__border: #6c8cd1;
$widget-subscription-bottom__box-shadow: #a6a6a6;// rgba(166, 166, 166, 0.5)
$widget-subscription-bottom-h__background-color: #5579c4;
$widget-subscription-bottom-h__background-image-1:#6488d1;
$widget-subscription-bottom-h__background-image-2: #4667b6;
$widget-search-form-input__box-shadow: #eee;
$widget-popular-record-data__background: #718f9f;
$comment__background: #768FA5;
$comment-icon__color: white;
$comment-icon__border-left: #768FA5;
$title-a__color: white;
$title-a__border-bottom: #fff;
$footer__color: white;
$footer-menu-background-image__color-1: #1a4988;
$footer-menu-background-image__color-2: #013c7b;
$footer-menu-a__color: #a8c5ff;
$footer-menu-contact__color: #a8c5ff;
$footer-menu-tel__color: #fff;
$footer-copy: #4858a8;
$colum_title__color: #fff;
$colum_list-a__color: white;
$footer-win-text__color: #3665aa;
$footer-win-text-span__color: #81afe2;
$input__border: #ccc;