@import "hgroup";
@import "const";
@import "color";
@import "mixin";

body {
    height: 100%;
    margin: 0 auto;
    font-family: Tahoma, Helvetica, serif;
}

.header {
    display: block;
    @include background-linear($header-background__color-1, $header-background__color-2);
    background-color: $header-background__color-1;
    background-repeat: repeat-x;
    width: 100%;
    margin-top: 33px;

    &-row {
        width: $minWidth;
        margin: 0 auto;
    }
}

.head {
    display: inline-flex;
}

.head-logo {
    margin-right: 41px;
}

.head-title {
    font-family: Tahoma, 'Geneva CY', sans-serif;
    font-size: 12px;
    margin-top: -4px;
    margin-right: 102px;
    color: $head-title__color;
    line-height: 18px;
}

.head-logo-sk {
    margin-top: -33px;
    margin-right: 69px;
}

.head-catalog {
    margin-top: -1px;
}

.head-catalog__button {
    display: block;
    width: 123px;
    height: 21px;
    padding: 6px 0;
    background: url(../img/topartner.png) no-repeat 0 -80px;
    color: $head-catalog-a__color;
    font-size: 13px;
    font-family: "Franklin Gothic Book", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
}

.head-contact_max {
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: -30px;
    opacity: 0;
    @include background-linear($head-contact_max__background-1 0%, $head-contact_max__background-2 100%);
    z-index: 2;
    -webkit-transition: 0.25s linear opacity;
}

.head-contact {
    margin-top: -2px;
    margin-right: 69px;
    font-size: 11px;
    position: relative;

    &:hover {
        .head-contact_max {
            height: 250px;
            visibility: visible;
            opacity: 1;
            font-size: 13px;

            & > .container {
                width: 190px;
                margin: 10px 15px;
            }

            p {
                margin: 0;
                padding: 8px 0 8px 0;
                color: $head-contact_max-p__color;
                line-height: 24px;
                border-top: 1px solid #ebecf0;
            }

            span {
                color: $head-contact_max-span__color;
            }

            a {
                font-size: 13px;
                font-weight: bold;
            }
        }
    }

    a {
        font-weight: bold;
        font-size: 16px;
        color: $head-contact-a__color;
        text-decoration: none;
    }

    &_dashed {
        border-bottom: 1px dashed $head-contact-span__border-bottom;
    }
}

.navigation-menu {
    width: 100%;
    display: inline-block;
    margin-bottom: -3px;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 -1px;
    @include clearfix;

    &-li {
        float: left;
        position: relative;
        padding: 0 1px 0 0;
        z-index: auto;
        margin-bottom: 19px;

        &.active {
            .nav-li-link {
                border-bottom: 3px solid #B31D27;
                background-color: #fff;
                @include background-linear(#f4f4f4, #fff);
                background-repeat: repeat-x;
            }
        }

        &_gray {
            padding: 0 1px;
            background: red;
            @include background-linear(#f4f4f4, #edeeee);
            background-repeat: repeat-x;
        }

        .nav-li-link {
            @include background-linear(#f4f4f4, #edeeee);
            padding: 13px 20px 15px 23px;
            border-bottom: 3px solid #afb2c1;
            text-decoration: none;
            color: #343434;
            font-size: 14px;
        }

        &:hover {
            .nav-li-link {
                border-bottom: 3px solid #B31D27;
                background-color: #fff;
                @include background-linear(#f4f4f4, #ffffff);
                background-repeat: repeat-x;
            }


            .dropmenu {
                border: 1px solid #babdc9;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.dropmenu {
    visibility: hidden;
    position: absolute;
    padding: 15px 15px;
    left: 0;
    opacity: 0;
    top: 37px;
    -webkit-transition: 0.25s linear opacity;
    z-index: 100;
    background-color: white;

    &.large {
        width: 910px;
        @include clearfix;
    }
}

.all-products {
    position: absolute;
    bottom: 20px;
    left: 29px;
    width: 550px;
    text-align: left;
    border-top: 1px solid #f1f2f4;
    padding: 10px 0;

    a {
        padding: 0;
        position: relative;
        display: inline-block;
        font-size: 14px;
        font-family: 'Tahoma', sans-serif;
        line-height: 16px;
        background-color: transparent;
        text-decoration: none;

        color: #354f71;
         &:before {
            content: '';
            display: inline-block;
            position: absolute;
            border-bottom: 1px solid #354f71;
            width: 100%;
            height: 100%;
            bottom: -1px;
        }
    }
}

.dropmenu-colum {
    float: left;
    width: 285px;
    margin: 0 20px 5px 0;
    padding: 7px 0 7px 0;

    &:last-of-type {
        margin: 0;
    }
}

.dropmenu-colum__title {
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    line-height: 18px;
    border-bottom: 1px solid #f1f2f4;
    color: #354f71;
    text-align: left;
    margin-left: 9px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.dropmenu-colum__ul {
    padding: 0;    
}

.dropmenu-colum_a {
    display: block;
    margin-left: -4px;
    height: 33px;
    font-size: 11px;
    color: #8a9bb2;
    padding: 9px 10px;
    text-decoration: none;

    &:hover {
        background-color: #f2f3f5;
    }

    > span {
        color: #354f71;
        font-size: 14px;
    }
}

.dropmenu-colum__ul-li {
    list-style: none;
    @include clearfix;
}




.dropmenu-ul {
    padding: 0;
}

.dropmenu-li {
    @include clearfix;
    list-style: none;


    a {
        padding: 9px 10px;
        text-decoration: none;
        font-size: 14px;
        line-height: 14px;
        display: block;
        white-space: nowrap;
        color: #354f71;

        &:hover {
            background-color: #f2f3f5;
        }
    }
}

.left-side {
    float: left;
}

.rigth-side {
    float: right;
    margin-top: -14px;
}

.partner-icon {
    &:after {
        position: absolute;
        content: ' ';
        top: 0;
        left: -20px;
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url('../img/icons.png') no-repeat 0 -45px;
        margin-right: 3px;
    }
}

.registration {
    position: relative;
    display: inline-block;
    margin-top: 29px;
    text-align: right;
    font-size: 11px;
    color: $registration_color;
    line-height: 17px;
    text-decoration: underline;
}

.registration-icon {
    &:after {
        position: absolute;
        content: ' ';
        top: 0;
        left: -20px;
        display: inline-block;
        width: 16px;
        height: 17px;
        background: url(../img/icons.png) no-repeat -156px -93px;
        margin: 0 4px 0 0;
        vertical-align: bottom;
    }
}

.partner {
    position: relative;
    display: inline-block;
    margin-top: 29px;
    text-align: right;
    margin-right: 30px;
    font-size: 11px;
    color: $partner__color;
    line-height: 17px;
    text-decoration: underline;
}

.icon {
    content: ' ';
    width: 33px;
    height: 30px;
    display: block;
    margin-right: 10px;
    background: url(../img/icons-menu_new.png) no-repeat 0 0;
    float: left;
}

.tl-hotel::before {
    @extend .icon;
}

.tl-reputation::before {
    @extend .icon;
    background-position: 0 -408px;
}

.tl-express::before {
    @extend .icon;
    background-position: 0 -442px;
}

.tl-webpms::before {
    @extend .icon;
    background-position: 0 -370px;
}

.tl-channel-manager::before {
    @extend .icon;
    background-position: 0 -30px;
}

.tl-site::before {
    @extend .icon;
    background-position: 0 -60px;
}

.tl-start::before {
    @extend .icon;
    background-position: 0 -90px;
}

.tl-mobile::before {
    @extend .icon;
    background-position: 0 -120px;
}

.tl-analytics::before {
    @extend .icon;
    background-position: 0 -150px;
}

.tl-audit::before {
    @extend .icon;
    background-position: 0 -180px;
}

.tl-support::before {
    @extend .icon;
    background-position: 0 -210px;
}

.tl-channel-manager::before {
    @extend .icon;
    background-position: 0 -240px;
}

.tl-ivisa::before {
    @extend .icon;
    background-position: 0 -270px;
}

.tl-rate-shopper::before {
    @extend .icon;
    background-position: 0 -304px;
}

.webpms::before {
    @extend .icon;
    background-position: 0 -338px;
}

.reputation::before {
    @extend .icon;
    background-position: 0 -374px;
}

.header-blog {
    position: relative;
    min-width: $minWidth;
    min-height: $minHeight;
    background: $header-blog__background url($imgHeader) 50% 0 no-repeat;
    color: white;

    h1 {
        width: 942px;
        margin: 26px auto 0;
        font: 60px 'Franklin Gothic', sans-serif;
    }
}

.crumbs {
    @include clearfix;
    width: $minWidth;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 4px;
    line-height: 20px;
    font-size: 11px;



    a {
        margin-left: 20px;
        float: left;
        color: $link-a__color;
    }

    span {
        &:last-of-type {
            &:after {
                content: none;
            }
        }

        &:after {
            content: ' ';
            float: left;
            width: 5px;
            height: 9px;
            background: url('../img/icons.png') no-repeat 0 -100px;
            margin-left: 10px;
            margin-top: 6px;
            margin-right: 8px;
        }

        color: $link-span__color;
    }
}

.breadcrumbs_icon {
}

.header-blog-nav {
    padding-top: 10px;
    width: 943px;
    margin: 0 auto 5px;
    @include clearfix;
}

.header-blog-ul {
    margin-left: 0;
    padding: 0;
    margin-left: -1px;
    list-style: none;
}

.header-blog-li {
    padding-bottom: 9px;
    line-height: 20px;
    float: left;

    &.active {
        > a {
            border-top: 3px solid $colorBorderTop;
            padding-top: 11px;
            font-weight: bold;
            border-bottom: 4px solid white;
            background-color: white;
        }
    }

    > a {
        margin-right: 4px;
        border-radius: 4px 4px 0 0;
        text-decoration: none;
        background: #eff0f2;
        padding: 13px 14px 11px;
        border: 1px solid transparent;
        color: $colorNavHead;
        font-size: 11px;

        &:hover {
            color: $a__color;
            text-decoration: none;
            border-top: 3px solid $colorBorderTop;
            border-bottom: 5px solid white;
            background-color: white;
        }
    }
}


main {
    position: relative;
    margin: 32px auto;
    width: 980px;
}

.content {
    width: 733px;
    float: left;

        .item {
        margin-bottom: 20px;
        padding: 10px 15px 20px;

        .image {
            position: relative;
            width: 694px;
            max-width: 100%;
            margin-bottom: 20px;

            .link {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            header {
                position: absolute;
                width: 100%;
                bottom: 0;
                @include background-linear(rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.94) 100%);
                color: white;
            }

            .info-created {
                margin: 0 0 12px 30px;
                color: $info-created__color;
                font-size: 12px;

                > span {
                    margin-left: 20px;
                }

                a {
                    text-decoration: none;
                    color: $info-create-a__color;

                    &:hover {
                        color: $info-created-a-h__color;
                    }
                }
            }
        }
    }
}

.author-icon {
    &:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url('../img/icons.png') no-repeat 0 -45px;
        margin: 0 7px -4px 0;
    }
}

.tag-icon {
    &:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 13px;
        background: url('../img/icons.png') no-repeat -88px -103px;
        margin: 0 7px -4px 0;
    }
}

article {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;

    > h2 {
        font: 20px Tahoma, Verdana, Arial, sans-serif;
        margin: 5px 0 15px 0;
        color: $article-h2__color;
    }

    span {
        font-weight: 400;
        line-height: 160%;
    }

    a {
        color: $article-a__color;
    }
}

.tags {

    span {
        vertical-align: baseline;
    }

    a {
        color: #354f71;
        text-decoration: underline;

        &:hover {
            color: $a__color;
        }
    }
}

.tags-icon {
    display: inline-block;
    width: 23px;
    height: 13px;
    background: url('../img/icons.png') no-repeat -47px -103px;
    margin: 0 7px -2px 0;
}

.footer-item {
    font-size: 12px;
    @include clearfix;
}

.aside {
    margin: 8px -3px 0 0;
    float: right;
    width: 224px;
}

.widget {
    margin-bottom: 20px;
    background: $widget__background url(../img/widget-bg.png);
    font: 12px 'Tahoma', sans-serif;

    &-title {
        font: 17px 'Franklin Gothic', sans-serif;
        color: $widget-title_color;
        margin: 0;
    }

    &-ul {
        padding: 0;
    }

    &-li {
        list-style: none;
        margin-bottom: 20px;
    }

    a {
        color: $widget-a__color;
    }
}

.widget-subscription {
    border: 8px solid $widget-subscription__border;
    padding: 15px 12px 10px 12px;

    &__input {
        height: 30px;
        width: 166px;
        border-radius: 4px;
        margin: 15px 0 0;
        padding: 0 8px;
        font-size: 14px;
        box-shadow: inset 0 1px 4px 0 $widget-subscription-input__box-shadow;
    }

    &__description {
        font-size: 11px;
        color: $widget-subscription-description__color;
        font-style: italic;
        margin: 0;
        margin-top: 6px;
    }

    &__button {
        background-color: $widget-subscription-bottom__background-color;
        @include background-linear($widget-subscription-bottom__background-background-image-1, $widget-subscription-bottom__background-background-image-2);
        color: $widget-subscription-bottom__color;
        line-height: 30px;
        width: 100%;
        text-align: center;
        border-radius: 4px;
        border: 1px solid $widget-subscription-bottom__border;
        margin: 10px 0;
        box-shadow: 0 1px 2px 0 $widget-subscription-bottom__box-shadow;
        cursor: pointer;

        &:hover {
            background-color: $widget-subscription-bottom-h__background-color;
            @include background-linear( $widget-subscription-bottom-h__background-image-1, $widget-subscription-bottom-h__background-image-2);
        }
    }
}

.widget-facebook {
    height: 230px;
}

.widget-search {
    padding: 26px 20px;

    &-title {
        margin-bottom: 10px;
        margin-left: 5px;
    }
}

.widget-search-form {
    > label {
        width: 145px;
    }


    &__input {
        width: 120px;
        height: 30px;
        border-radius: 4px;
        padding: 0 8px;
        box-shadow: inset 0 1px 4px 0 $widget-search-form-input__box-shadow;
    }

    &__button {
        background: url(../img/search-button.png);
        width: 30px;
        height: 32px;
        float: right;
        color: transparent;
        border: 0;
        cursor: pointer;
    }
}

.widget-popular-record-title {
    margin-bottom: 10px;
    margin-left: 5px;
}

.widget-popular-record {
    padding: 26px 20px;

    &__data {
        color: white;
        font-size: 11px;
        background: $widget-popular-record-data__background;
        padding: 3px 4px;
        font-weight: normal;
    }

    &__title {
        line-height: 15px;
        display: block;
        margin: 10px 0;

        a:hover {
            color: $a__color;
        }
    }
}


.comment {
    margin-top: 10px;
    float: right;
    background: $comment__background;
    position: relative;
    padding: 0 5px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 20px;
    
}

.comment-icon {
    text-decoration: none;
    color: $comment-icon__color;

    &:after {
        content: '';
        display: block;
        border-left: 9px solid $comment-icon__border-left;
        border-bottom: 6px solid transparent;
        position: absolute;
        bottom: -4px;
    }
}

.title {
    padding: 15px 30px;

    a {
        text-decoration: none;
        font: 36px 'Franklin Gothic Book', sans-serif;
        color: $title-a__color;
        border-bottom: 1px $title-a__border-bottom solid;

        &:hover {
            border-bottom: none;
        }
    }
}

footer {
    position: relative;
    float: left;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 150px;
    color: $footer__color;

    .container {
        margin: 0 auto;
        width: $minWidth;
    }
}

.footer-menu {
    display: flex;
    padding-top: 37px;
    height: 100%;
    @include background-radial($footer-menu-background-image__color-1, $footer-menu-background-image__color-2);


    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 29px;

        li {
            font: 12px/18px Tahoma, Arial, sans-serif;
            line-height: 22px;

            a {
                text-decoration: underline;
                font-size: 11px;
                color: $footer-menu-a__color;
                line-height: 16px;
            }
        }
    }


    .contact {
        margin-top: 10px;
        color: $footer-menu-contact__color;

        li {
            position: relative;
            padding-left: 35px;
            padding-top: 4px;
            margin-bottom: 20px;            
        }
    }

    .contact-phone-icon {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 7px;
        left: 0;
        background: url(../img/icons.png) no-repeat -200px -50px;
    }

    .contact-email-icon {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/icons.png) no-repeat -150px -50px;
    }

    .contact-partner-icon {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/icons.png) no-repeat -200px 0;
    }

    .tel {
        padding: 0;
        font-size: 18px;
        color: $footer-menu-tel__color;
        line-height: 24px;
    }
}

.footer-info {
    display: flex;
    background: url('../img/footer-bg.png');
    padding: 20px;
    @include clearfix;
    .rightside {
        float: right;
        margin-right: 20px;
    }
}

.colum {
    float: left;
    width: 220px;
    margin-left: 20px;
}

.footer-copy {
    padding-top: 5px;
    font-size: 11px;
    color: $footer-copy;
}

.social-button {
    a {
        margin: 5px 8px 0 0;
    }
}

.colum_title {
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 18px;
    color: $colum_title__color;
    text-decoration: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 6px;
}

.colum_list {
    ul {
        list-style: none;
    }

    a {
        color: $colum_list-a__color;
    }
}

.footer-logo {
    background: url(../img/footer-logo.png);
    width: 143px;
    height: 23px;
}

.social-button {
    float: left;
    display: inline-flex;

    a {
        width: 26px;
        height: 26px;
        display: block;
        background: url(../img/socialnetwork_new.png) no-repeat 0 0;
    }

    .button-fb{
        background-position: 0 0;
    }

    .button-vk {
        background-position: -68px 0;
    }

    .button-youtube {
        background-position: -204px 0;
    }

    .button-instagram {
        background-position: -238px 0;
    }

    .button-sd {
        background-position: -341px 0;
    }
}

.logo-windows {
    float: right;
}

.footer-win-text {
    float: right;
    margin: 12px 15px 0 0;
    font-size: 11px;
    line-height: 17px;
    text-align: right;
    color: $footer-win-text__color;

    span {
        color: $footer-win-text-span__color;
    }
}

.footer-win-img {
    float: right;
    background: url(../img/windows.png);
    width: 57px;
    height: 72px;
}

input {
    border: 1px solid $input__border;
}


.pagination {
    clear: both;
    padding: 2px 0;
    position: relative;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 38px;
}

.pagination-title {
    font: 20px Tahoma, Verdana, Arial, sans-serif;
    margin: 5px 0px 15px 0px;
    padding: 1px 0;
    color: #323232;
}

.page-numbers {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff;
    background: #555;

    &:hover {
        color: #fff;
        background: #3279BB;
    }
}

.current {
    padding: 6px 9px 5px 9px;
    background: #3279BB;
    color: #fff;
}
.dots {
    &:hover {
        color: #fff;
        background: #555;
    }
}